<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h3><%= listing.title%></h3>

    <div class="card show-card">
      <img
        src="<%=listing.image.url%>"
        class="card-img-top show-img"
        alt="listing_image"
        onerror="this.style.visibility='hidden'"
      />
      <div class="card-body">
        <!-- <h5 class="card-title"><%= listing.title%></h5> -->
        <p class="card-text mb-2"><%= listing.description%></p>

        <p class="card-text mb-2">
          <b>&#8377; <%= listing.price.toLocaleString("en-IN")%></b>
        </p>
        <p class="card-text mb-2"><%= listing.location%></p>
        <p class="card-text mb-3"><%= listing.country%></p>

        <div class="btns mt-3">
          <a
            href="/listings/<%= listing._id %>/edit"
            class="btn btn-dark edit-btn col-1"
            >Edit</a
          >
          <form
            action="/listings/<%=listing._id%>?_method=DELETE"
            method="POST"
            class="d-inline offset-1"
          >
            <button class="btn btn-dark">Delete</button>
          </form>
        </div>
        <br />
        <hr />
        <div class="d-inline offset-1">
          <h4>Leave a Review</h4>
          <form
            action="/listings/<%= listing._id %>/reviews"
            method="POST"
            class="mb-3 needs-validation"
            novalidate
          >
            <div class="mb-3 mt-3">
              <label for="rating" class="form-label">Rating</label>
              <input
                type="range"
                min="1"
                max="5"
                id="rating"
                name="review[rating]"
                class="form-range"
              />
            </div>

            <div class="mb-3 mt-3">
              <label for="comment" class="form-label">Comments</label>
              <textarea
                name="review[comment]"
                id="comment"
                cols="30"
                rows="5"
                class="form-control"
                required
              ></textarea>
              <div class="invalid-feedback">
                Please add some comments for review
              </div>
            </div>
            <button class="btn btn-outline-dark">Submit</button>
          </form>
          <hr />
          <h4>All Reviews</h4>
          <% for(review of listing.reviews) { %>
          <li><%=review.comment%>, <%=review.rating%></li>
          <%}%>
        </div>
      </div>
    </div>
  </div>
</div>
